body {
    background-color: #99c2ff;
}

.augustPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-size: 1.5em;
    text-align: center;
    justify-self: start;
    grid-column: 2/3;
    grid-row: 2/3;
}

main {
    background-color: antiquewhite;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-family: 'Martel', serif;
    font-size: 0.8em;
}

.ulLinks {
    display: inline-block;
    text-align: left;
}

footer {
    text-align: center;
    font-weight: bold;
}