@media only screen and (min-width: 1000px) {
    /*Home Page*/
    

    header {
        display: grid;
        grid-template-columns: auto auto 20px;
        grid-template-rows: repeat(2, auto);
        background-color: #40916c;
        padding: 10px;
    }
    
    .businessLogo {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: right;
    }
    
    .companyName {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: left;
    }
    
    #hamburgerBtn {
        visibility: hidden;
    }

    nav {
        grid-column: 1/4;
        grid-row: 2/3;
        margin: 15px;
    }

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgb(255, 255, 255);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgb(255, 255, 255);
    }

    .indexMain {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(3, auto);
        margin: 0 250px;
        grid-gap: 2em;
    }

    p {
        font-size: 16px;
    }

    .drinkCard {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0;
    }

    .drinkCard h2 {
        margin: 20px 0 20px 0;
    }
    
    .drinkCard a {
        display: inline-block;
        padding: 10px 40px;
        margin: 15px 10px;
        color: white;
        background-color: #40916c;
    }

    .numOfDrinks {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 0;
    }

    .costalInformation {
        grid-column: 1/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    .costalInformation div{
        margin: 15px;
    }

    .costalInformation div.sanDiego {
        text-align: center;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .costalInformation div.losAngeles{
        text-align: center;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .weatherCard {
        grid-column: 1/3;
        grid-row: 3/4;
        margin: 0 200px;
    }

    .weatherCard p {
        font-size: 18px;
    }

    #weatherImg {
        width: 50%;
    }

    .forcastTitle {
        margin: 0 200px;
    }

    /*Fresh Page*/
    .fruitForm {
        margin: 0 300px 0 300px;
    }

    .drinkDiv {
        margin: 0 500px;
    }

    /*About Us*/
    .aboutMain {
        display: grid;
        grid-template-columns: 25vw repeat(3, auto) 25vw;
        grid-template-rows: repeat(8, auto);
    }

    .contactHeader {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .contactAddress {
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: end;
    }

    .contactEmail {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .contactPhone {
        grid-column: 4/5;
        grid-row: 2/3;
        justify-self: start;
    }

    .historicalHeader {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .historicalInfo {
        grid-column: 2/5;
        grid-row: 4/5;
    }

    .aboutUsHeader {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    .aboutUsInfo {
        grid-column: 2/5;
        grid-row: 6/7;
    }

    .locationHeader {
        grid-column: 3/4;
        grid-row: 7/8;
    }

    .googleMap {
        grid-column: 2/5;
        grid-row: 8/9;

        width: 100%;
        height: 100%;
    }

}