@media only screen and (min-width: 600px){
    /*Home Page*/
    .businessLogo {
        justify-self: end;
    }
    
    .indexMain{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        margin: 0 100px;
    }

    p {
        font-size: 20px;
    }

    .companyName {
        margin-left: 20px;
        font-size: 44px;
    }

    .drinkCard {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0 150px;
    }

    .drinkCard h2 {
        margin: 20px 0 10px 0;
    }
    
    .drinkCard a {
        display: inline-block;
        padding: 15px 45px;
        margin: 15px 10px;
        color: white;
        background-color: #40916c;
        font-size: 20px;
    }

    .numOfDrinks {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0 80px;
    }
    
    .numOfDrinks p {
        font-size: 18px;
    }

    .costalInformation {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .costalInformation div{
        margin: 15px;
    }

    .weatherCard {
        grid-column: 1/2;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(6, auto);
        margin: 0 100px;
    }

    #temp {
        font-size: 44px;
    }

    .forcastTitle {
        margin: 0 50px;
    }

    footer p {
        font-size: 18px;
    }

    /*Fresh Page*/
    .fruitForm {
        margin: 0 100px;
    }

    .drinkDiv {
        margin: 0 130px;
    }

    fieldset label input {
        font-size: 20px;
    }

    fieldset.fruitSelect select {
        padding: 5px 45px 5px 0px;
        font-size: 20px;
    }

    fieldset label textarea {
        font-size: 20px;
    }

    /*About Us Page*/
    .googleMap {
        width: 50%;
    }

    .contactForm {
        margin: 0 100px;
    }

    input.submitBtn {
        margin: 10px 150px;
    }
}