@media only screen and (min-width: 64rem) {

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgb(255, 255, 255);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgb(255, 255, 255);
    }

    header{
        display: grid;
        grid-template-columns: auto auto auto 40px 40px;
        grid-template-rows: auto 50px;
        grid-gap: 1em;
        padding: 20px;
    }
    
    nav{
        grid-column: 3/4;
        grid-row: 1/2;
        margin-left: -10px;
        margin-right: 10px;
    }

    .saguaroLogo {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: end;
        width: 200px;
    }
    
    .saguaroTitle {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: center;
        justify-self: start;
        color: white;
        font-size: 32px;
    }
    
    .fullDate {
        grid-column: 1/6;
        grid-row: 2/3;
        font-size: 18px;
        text-align: center;
        padding-top: 10px;
    }
    
    .facebook {
        grid-column: 4/5;
        grid-row: 1/2;
        align-self: center;
        margin: 0 0 0 0;
    }
    
    .twitter {
        grid-column: 5/6;
        grid-row: 1/2;
        align-self: center;
    }
    
    main {
        display: grid;
        grid-template-columns: 350px 310px 310px 350px;
        grid-template-rows: repeat(3, auto);
        grid-gap: 1em;
        margin: 20px 0px 20px 35px;
        padding: 0 0 0 40px;
    }
    
    .event {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 200px;
    }
    
    .callToAction {
        grid-column: 2/4;
        grid-row: 1/3;
        height: auto;
    }
    
    .actionWelcome {
        position: absolute;
        top: 5px;
        left: 30px;
    }

    .heroImg {
        object-fit: contain;
        margin: 10px auto 0 auto;
        display: block;
    }

    .actionJoin {
        position: absolute;
        top: 300px;
        left: 400px;
        font-size: 24px;
        padding: 15px;
        padding: 10px 25px;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 200px;
    }
    
    .news {
        grid-column: 2/4;
        grid-row: 3/4;
        height: auto;
    }
    
    .join {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 200px;
    }
    
    .spotlight {
        grid-column: 4/5;
        grid-row: 1/4;
        height: auto;
    }

    .bugDiv {
        margin: 5px 10px 5px 20px;
        width: 300px;
        height: 310px;
        
    }
    
    .bugImg {
        width: 70px;
    }
    
    .gardenDiv {
        margin: 5px 10px 5px 20px;
        width: 300px;
        height: 310px;
        
    }
    
    .gardenImg {
        width: 70px;
    }
}