@media only screen and (min-width: 600px){
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 24px;
    }
    
    .saguaroTitle {
        margin: 0 0 0 20px;
    }

    
    .fullDate {
        font-size: 18px;
    }
    
    .facebook {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    
    .twitter {
        grid-column: 5/6;
        grid-row: 1/2;
        align-self: center;
    }
    
    main.indexMain {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(5, auto);
        margin: 20px 100px;
    }
    
    .event {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
    .callToAction {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .actionJoin {
        position: absolute;
        top: 220px;
        left: 130px;
        font-size: 24px;
        padding: 15px 25px;
    }

    .weather {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0;
    }
    
    #temp {
        font-size: 32px;
    }



    .news {
        grid-column: 1/3;
        grid-row: 4/5;
    }
    
    .join {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .joinHeader button {
        font-size: 28px;
    }

    .spotlight {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .gardenImg {
        width: 60px;
    }

    footer {
        display: grid;
        grid-template-columns: auto 180px auto;
        grid-template-rows: auto auto auto auto;
    }
    
    .saguaroLogoFooter {
        grid-column: 1/2;
        grid-row: 1/3;
        justify-self: end;
        margin: 0 0 0 0;
        width: 150px;
    }
    
    .nameFooter {
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 24px;
        font-size: 16px;
        align-self: end;
    }
    
    .addressFooter{
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 16px;
    }
    
    .emailFooter {
        grid-column: 3/4;
        grid-row: 2/3;
        font-size: 16px;
        justify-self: start;
        margin: 1px 0 0 0;
    }
    
    .phoneFooter {
        grid-column: 3/4;
        grid-row: 1/2;
        font-size: 16px;
        justify-self: start;
        margin-left: 16px;
    }
    
    .locationFooter {
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 16px;
    }
    
    .creatorInfo {
        grid-column: 1/4;
        grid-row: 4/5;
        font-size: 16px;
    }

    /*Discover Page*/

    .discoverMain {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(4, auto);
    }

    .population {
        grid-column: 1/3;
        grid-row: 1/2;

    }

    .medianAge {
        grid-column: 3/5;
        grid-row: 1/2;

    }

    .employment {
        grid-column: 1/3;
        grid-row: 2/3;

    }

    .occupations {
        grid-column: 3/5;
        grid-row: 2/3;
    }

    .industries {
        grid-column: 2/4;
        grid-row: 3/4;
    }

    .discoveryImgs:hover {
        box-shadow: 10px 0px 50px #333;
    }

    .visits {
        grid-column: 2/4;
        grid-row: 4/5;
        
        font-size: 19px;
    }

    /*Join Page*/
    form fieldset {
        width: 600px;
    }

    form legend {
        font-size: 24px;
    }

    form fieldset legend {
        font-size: 24px;
    }

    form label.applicant input, form label.applicant select {
        font-size: 24px;
        padding: 1rem 0;
    }

    form label.membership {
        font-size: 24px;
    }

    form label.membership input[type="radio"] {
        transform: scale(1);
    }

    form input.submitBtn {
        padding: .50rem;
        height: 65px;
        font-size: 24px;
    }

    .thankYou {
        font-size: 42px;
    }

    /*Contact Page*/
    .contactMain h2 {
        font-size: 32px;
    }

    .contactMain p {
        font-size: 26px;
    }

    .contactMain form p {
        font-size: 26px;
    }

    .contactMain form p {
        font-size: 24px;
        margin: 10px 0;
    }
}