@media only screen and (min-width: 35rem) {

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 15px;
    }
    
    .saguaroTitle {
        font-size: 32px;
    }

    
    .fullDate {
        font-size: 18px;
    }
    
    .facebook {
        grid-column: 4/5;
        grid-row: 1/2;
        align-self: center;
        margin: 0 0 0 0;
    }
    
    .twitter {
        grid-column: 5/6;
        grid-row: 1/2;
        align-self: center;
    }
    
    main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
        margin: 20px 100px;
    }
    
    .event {
        grid-column: 1/3;
        grid-row: 1/2;
        height: 200px;
    }
    
    .callToAction {
        grid-column: 1/3;
        grid-row: 2/3;
        background-image: url(images/wdd230OrgMedium.jpg);
    }
    
    .actionJoin {
        position: absolute;
        top: 100px;
        left: 540px;
        font-size: 24px;
        padding: 15px;
        padding: 10px 25px;
    }

    .weather {
        grid-column: 1/3;
        grid-row: 3/4;
        height: 200px;
    }
    
    .news {
        grid-column: 1/3;
        grid-row: 5/6;
    }
    
    .join {
        grid-column: 1/3;
        grid-row: 6/7;
        height: 200px;
    }
    
    .spotlight {
        grid-column: 1/3;
        grid-row: 4/5;
        height: 320px;
    }
    
    .bugDiv {
        margin: 5px 0 5px 0;
        width: 270px;
        height: 300px;
    }
    
    .gardenDiv {
        margin: 5px 0 5px 0;
        width: 270px;
        height: 300px;
    }
    
    .gardenImg {
        width: 60px;
    }

    footer {
        display: grid;
        grid-template-columns: auto 180px auto;
        grid-template-rows: auto auto auto auto;
    }
    
    .saguaroLogoFooter {
        grid-column: 1/2;
        grid-row: 1/3;
        justify-self: end;
        margin: 0 0 0 0;
        width: 150px;
    }
    
    .nameFooter {
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 24px;
        font-size: 16px;
        align-self: end;
    }
    
    .addressFooter{
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 16px;
    }
    
    .emailFooter {
        grid-column: 3/4;
        grid-row: 2/3;
        font-size: 16px;
        justify-self: start;
        margin: 1px 0 0 0;
    }
    
    .phoneFooter {
        grid-column: 3/4;
        grid-row: 1/2;
        font-size: 16px;
        justify-self: start;
        margin-left: 16px;
    }
    
    .locationFooter {
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 16px;
    }
    
    .creatorInfo {
        grid-column: 1/4;
        grid-row: 4/5;
        font-size: 16px;
    }
}