/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

body {
    background-color: #ffa64c;
}

h1 {
    font-size: 52px;
    font-family:'Alegreya', serif, sans-serif;
}

h2 {
    font-size: 44px;
    font-family:'Alegreya', serif, sans-serif;
}

p {
    font-size: 28px;
    font-family: 'Roboto', serif, sans-serif;
    margin: 10px;
}

#meetingBanner {
    text-align: center;
    padding: 5px;
    font-size: 26px;
} 

header{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
    padding: 20px;
}

nav{
    align-self: center;
    justify-self: center;
    margin-left: -10px;
    margin-right: 10px;
    grid-column: 1/6;
    grid-row: 2/3;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    align-self: center;
    width: 44px;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgb(0, 0, 0);
    font-size: 24px;
}

nav ul li.active a {
    background-color: rgba(115, 115, 115, 0.5);
    color: white;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

.saguaroLogo {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}

.saguaroTitle {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: start;
    color: white;
    font-size: 38px;
}

div.fullDate {
    grid-column: 1/6;
    grid-row: 3/4;
    font-size: 28px;
    text-align: center;
    padding-top: 5px;
    
}



.facebook {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    margin: 0 0 0 0;
}

.twitter {
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: center;
}

header a figure.twitter img {
    margin: 0 0 0 -50px;
}

header a figure.facebook img {
    margin: 0 0 0 -25px;
}

main.indexMain {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    grid-gap: 1.5em;
    margin: 20px 0;
}

div {
    background-color: rgb(233, 233, 233);
    border: 4px solid rgb(162, 162, 162);
    text-align: center;
}

.event {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

.event p {
    font-size: 20px;
}

.event h2 {
    text-decoration: underline;
}

.callToAction {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;

}

.actionWelcome {
    position: absolute;
    top: 5px;
    left: 32px;
    color: white;
    font-size: 32px;
}

.heroImg img {
    width: 100%;
    height: 100%;
}


.actionJoin {
    position: absolute;
    top: 320px;
    left: 320px;
    font-size: 24px;
    background-color: #69cdf2;
    color: white;
    padding: 10px 25px;
    font-family: 'Oswald', serif, sans-serif;
}

.actionJoin:hover {
    background-color: #6daec6;;
}

.weather {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    margin: 0 50px;

    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);

}

#weatherTitle {
    margin-top: 5px;
    grid-column: 1/3;
    grid-row: 1/2;
    text-decoration: underline;
}

#weatherIcon {
    grid-column: 1/2;
    grid-row: 2/4;

    width: 100%;
    height: 150px;
    min-width: 40px;
    max-width: 150px;

    justify-self: center;

    background-color: rgb(229, 229, 229);
    border: solid 2px rgb(186, 186, 186);
}

#temp {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 5px;
    font-weight: bold;
    font-size: 50px;
    align-self: center;
}

#weatherType {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 5px;

    align-self: end;
    text-transform: capitalize;
}

#windSpeed {
    grid-column: 1/3;
    grid-row: 4/5;
    padding: 10px 0 0 0;

    border-top: solid 3px rgb(153, 153, 153);
}

#windchill {
    grid-column: 1/3;
    grid-row: 5/6;
    margin: 5px;
}

.news {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: center;
}

.newsHeader {
    font-size: 18px;
}

.newsText {
    margin: 5px;
}

.join {
    grid-column: 1/2;
    grid-row: 6/7;
    text-align: center;
}

.joinSpacing {
    margin: 40px;
}

.joinHeader {
    display: block;
    background-color: #69cdf2;
    color: white;
    margin: 10px 300px 10px 300px;
    padding: 10px 60px;
    font-family: 'Oswald', serif, sans-serif;
    font-size: 32px;
    border: #69cdf2;
}

.joinHeader button:hover {
    background-color: #6daec6;
}

.spotlight {
    grid-column: 1/2;
    grid-row: 5/6;
    text-align: center;
}

.bugDiv {
    width: 100%;
}

.gardenDiv {
    width: 100%;
}

footer {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto auto;
}

picture.saguaroLogoFooter {
    display: block;
    text-align: center;
    justify-self: end;
}

.saguaroLogo img {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: end;
    margin: 0 0 0 0;
}

.nameFooter {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-size: 26px;
    margin-bottom: 1px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    align-self: end;
}

.addressFooter{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin-top: 1px;
    color: white;
    font-size: 18px;
}

.emailFooter {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    justify-self: start;
    margin-top: 1px;
    color: white;
    font-size: 18px;
}

.phoneFooter {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
    margin-bottom: 1px;
    align-self: end;
    color: white;
    font-size: 18px;
}


.locationFooter {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    display: block;
    font-size: 18px;
    color: white;
    margin: 18px;
    font-size: 14px;
}

.creatorInfo {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    border-top: 1px solid rgb(255, 255, 255);
    padding-top: 5px;
    color: white;
    font-size: 18px;
    margin-left: 16px;
}



/*Discover Page*/

.discoverMain {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, auto);
    grid-gap: 1em;
    margin: 10px 80px;
}

.population {
    grid-column: 1/2;
    grid-row: 1/2;
}

.medianAge {
    grid-column: 1/2;
    grid-row: 2/3;

}

.employment {
    grid-column: 1/2;
    grid-row: 3/4;

}

.occupations {
    grid-column: 1/2;
    grid-row: 4/5;
}

.industries {
    grid-column: 1/2;
    grid-row: 5/6;
}

.discoveryImgs {
    width: 100%;
}

.visits {
    grid-column: 1/2;
    grid-row: 6/7;

    text-align: center;
    color: white;
    font-size: 16px;
    height: 30px;
    margin: 10px;
}

/*Join Page*/
main.joinMain {
    max-width: 64rem;
    margin: auto;
    
}

main.joinMain h1 {
    text-align: center;
}

.formHeader{
    color: white;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    margin: 20px 40px;
}

form fieldset {
    margin: .5rem auto;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(229, 229, 229);
    border-radius: 10px;
    width: 500px;
}

form fieldset legend {
    margin: 0 0 0 15px;
    padding: 5px;
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(229, 229, 229);
    font-size: 36px;
}

form label {
    display: block;
    width: 100%;
}

form label input {
    padding: 0.5rem 0.75rem;
    
}

form label.applicant, form div {
    display: block;
    padding-top: 0.5rem;
    font-size: 16px;

}

form label.applicant input {
    width: 100%;
}

form label.applicant input, form label.applicant select {
    display: block;
    font-size: 32px;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 1.5rem 0;
    color: #555;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.busiDescription textarea{
    width: 100%;
    padding: 1.5rem 0;
    font-size: 32px;
}

form label.membership {
    display: block;
    padding: .75rem 0;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem;
    margin: 10px;
    width: 96%;
    height: 100px;
    max-width: 20rem;
    justify-self: center;
    font-size: 32px;
}

form label.applicant input:required {
    border: red solid 2px;
    font-size: 16px;
}

form label.applicant input:required:valid {
    border: green solid 2px
}

form label.membership {
    font-size: 32px;
}

form label.membership input[type="radio"] {
    transform: scale(1.5);
}

.joinMain form p {
    font-size: 32px;
    margin: 15px 0;
    color: black;
    text-align: left;
}

.todayDate {
    visibility: hidden;
}

.thankYou {
    color: white;
    text-align: center;
    font-size: 52px;
}

/*Directory Page*/
main.directoryMain {
    min-width: 400px;
    margin: 10px 100px 40px 100px;
}

.btnDiv {
    margin: 10px 0 20px 0;
    padding: 10px;
}

.gridBtn {
    margin: 10px 10px 10px 5px;
    padding: 5px;
    width: 70px;
    height: 50px;
}

.listBtn {
    margin: 10px 5px 10px 10px;
    padding: 5px;
    width: 70px;
    height: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));    
    grid-gap: 1em;
    border: none;
    
}

.grid section {
    margin: 20px;
    border: 4px solid rgb(229, 229, 229);
}

.grid section img.logoImgs {
    width: auto;
    max-width: 325px;
    height: 200px;
    margin: 10px;
    box-shadow: 0 0 30px rgb(104, 104, 104);
}

.grid section {
    overflow: hidden;
    border: 4px solid black;
}

.indexMain section img.logoImgs {
    width: auto;
    height: 300px;
    margin: 5px;
}

.indexMain section h2 {
    margin: 20px 0;
}

.indexMain section {
    border: 4px solid rgb(162, 162, 162);
    box-shadow: 0 0 30px rgb(104, 104, 104);
    margin: 10px;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: left;
    border: 4px solid black;
    margin: 10px 10px;
}

.list img.logoImgs {
    width: auto;
    max-width: 325px;
    height: 100px;
    margin: 10px;
    box-shadow: 0 0 30px rgb(104, 104, 104);
    display: none;
}

.list section h2 {
    margin: 10px 0 10px 10px;
}

.list section p {
    margin: auto 20px;
}

/*Contact Page*/

.contactMain h1 {
    text-align: center;
    color: white;
}

.contactMain h2 {
    text-align: center;
    color: white;
    font-size: 48px;
}

.contactMain p {
    text-align: center;
    color: white;
    font-size: 32px;
}

.underlineBottom {
    margin: 30px 10px 15px 10px;
    text-decoration: underline;
}

.contactMain form p {
    font-size: 32px;
    margin: 15px 0;
    color: black;
    text-align: left;
}