/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    background-color: #ffa64c;
}

h1 {
    font-family:'Alegreya', serif, sans-serif;
}

h2 {
    font-size: 20px;
    font-family:'Alegreya', serif, sans-serif;
}

p {
    font-size: 14px;
    font-family: 'Roboto', serif, sans-serif;
    margin: 10px;
}

.meetingBanner {
    text-align: center;
    padding: 5px;
    font-size: 22px;
    margin-top: 3px;
} 

header{
    display: grid;
    grid-template-columns: auto auto 40px 40px;
    grid-template-rows: auto auto 50px;
    grid-gap: 1em;
    padding: 20px;
}

nav{
    align-self: center;
    justify-self: center;
    margin-left: -10px;
    margin-right: 10px;
    grid-column: 1/6;
    grid-row: 2/3;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    align-self: center;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgb(0, 0, 0);
    font-size: 24px;
}

nav ul li.active a {
    background-color: rgba(115, 115, 115, 0.5);
    color: white;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

.saguaroLogo {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
}

.saguaroTitle {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: start;
    color: white;
    font-size: 22px;
}

.fullDate {
    grid-column: 1/6;
    grid-row: 3/4;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

.facebook {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    margin: 0 0 0 0;
}

.twitter {
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: center;
}

header a figure.twitter img {
    margin: 0 0 0 -50px;
}

header a figure.facebook img {
    margin: 0 0 0 -25px;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    grid-gap: 1em;
    margin: 20px 50px;
}

div {
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(229, 229, 229);
    text-align: center;
}

.event {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 200px;
    text-align: center;
}

.callToAction {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 200px;
    position: relative;
    overflow: hidden;

}

.actionWelcome {
    position: absolute;
    top: 5px;
    left: 30px;
    color: black;
    font-size: 28px;
}

.heroImg {
    padding: 0;
}

.actionJoin {
    position: absolute;
    top: 100px;
    left: 250px;
    font-size: 24px;
    background-color: #69cdf2;
    color: white;
    padding: 10px 25px;
    font-family: 'Oswald', serif, sans-serif;
    padding: 10px;
}

.weather {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 200px;
    text-align: center;
}

.weatherTitle {
    margin-top: 5px;
}

.news {
    grid-column: 1/2;
    grid-row: 4/5;
    height: 200px;
    text-align: center;
}

.newsText {
    margin: 7px;
}

.join {
    grid-column: 1/2;
    grid-row: 6/7;
    height: 200px;
    text-align: center;
}

.joinHeader {
    background-color: #69cdf2;
    color: white;
    margin: 20px 90px 30px 90px;
    padding: 10px;
    font-family: 'Oswald', serif, sans-serif;
}

.spotlight {
    grid-column: 1/2;
    grid-row: 5/6;
    height: 330px;
    text-align: center;
}

.bugDiv {
    margin: 5px 3px 5px 10px;
    width: 200px;
    height: 310px;
    float: left;
}

.gardenDiv {
    margin: 5px 0px 0px 10px;
    width: 205px;
    height: 310px;
    float: left;
}

.gardenImg {
    width: 50px;
}

.saguaroLogoFooter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
}

.nameFooter {
    text-align: center;
    font-size: 20px;
    margin-bottom: 1px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.addressFooter{
    text-align: center;
    margin-top: 1px;
    color: white;
    font-size: 14px;
}

.emailFooter {
    text-align: center;
    margin-top: 1px;
    color: white;
    font-size: 14px;
}

.phoneFooter {
    text-align: center;
    margin-bottom: 1px;
    align-self: end;
    color: white;
    font-size: 14px;
}


.locationFooter {
    text-align: center;
    font-size: 18px;
    color: white;
    margin: 12px;
    font-size: 14px;
}

.creatorInfo {
    text-align: center;
    border-top: 1px solid rgb(255, 255, 255);
    padding-top: 5px;
    color: white;
    font-size: 12px;
}

/*Discover Page*/

.discoverMain {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(5, 260px) 70px;
    grid-gap: 1em;
    margin: 10px 60px;
}

.population {
    grid-column: 1/2;
    grid-row: 1/2;
}

.medianAge {
    grid-column: 1/2;
    grid-row: 2/3;

}

.employment {
    grid-column: 1/2;
    grid-row: 3/4;

}

.occupations {
    grid-column: 1/2;
    grid-row: 4/5;
}

.industries {
    grid-column: 1/2;
    grid-row: 5/6;
}

.discoveryImgs {
    width: 100%;
}

.visits {
    grid-column: 1/2;
    grid-row: 6/7;

    text-align: center;
    color: white;
    font-size: 16px;
    height: 30px;
    margin: 10px;
}